@import "Global.css";

#contact{
    color:white;
}

section {
    flex: 1;
    padding: 20px;
}

article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-card {
    font-size:larger;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    text-align:justify;
}

.contact-card h3 {
    margin-top: 0;
}

.contact-card p {
    margin-bottom: 0;
}
.creator_role {
    opacity: 0;
    position: absolute;
    height: 8vw;
    width: 7.9vw;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.creator_role:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.75);
}

.creator_role h2 {
    user-select: none;
    font-size: 1.3vw;
    color: #000;
    box-shadow: #000;
}
.pictures{
    height:120px;
    display:flex;
    float:left;
    border-radius:10px;
    margin-right:13px;
}

.github-btn {
    font-size:large;
    display: inline-block;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.github-btn:hover {
    background-color: #555;
}

.github-logo{
    position:absolute;
    margin-top:1.2vw;
    margin-left:10px;
    height:25px;
    align-items:center;
}

footer {
    background-color:#5ff926;
    color: #000000;
    text-align: center;
    padding: 10px;
}
