@import "Global.css";

#sidebar {
    width: 150px;
    height: 100vh;
    flex-shrink: 0;
    margin: 0;
    padding:20px;
    background-color:rgba(115, 255, 0, 0.518);
    
}

#sidebar li{
    margin:20px;
    text-decoration:none;
    color:black;
}

#sidebar a{
    color:#000000;
    text-decoration:none;
}

#sidebar a:hover{
    color:white;
}

section {
    flex: 1;
    padding: 20px;
}

article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}

.contact-card h3 {
    margin-top: 0;
}

.contact-card p {
    margin-bottom: 0;
}

footer {
    background-color:#5ff926;
    color: #000000;
    text-align: center;
    padding: 10px;
}