@import "Global.css";

#dog-img{
    position:absolute;
    height:300px;
    left: 42%;
}

#thank-you{
    text-align:center;
    position: absolute;
    width: 840px;
    height: 236px;
    margin-top: 18vw;
    left: 23%;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
}

#team-name{
    text-align:center;
    position:absolute;
    left:24%;
    margin-top: 28.5vw;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    width: 250px;
    height: 100px;  
    font-weight: 400;
    font-size: 48px;
}

#home_button{
    position: absolute;
    width: 178px;
    height: 84px;
    margin-top: 28vw;
    left: 45%;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    align-items: center;
    border: none;
    background: #5ff926;
    border-radius: 10px;
}

#home_button:hover{
    transition:ease-out 0.15s;
    align-items:center;
    position:absolute;
    width:183px;
    height:89px;
    margin-top:27.9vw;
    left:44.8%;
}

footer {
    background-color: #5ff926;
    color: #000000;
    text-align: center;
    padding: 10px;
    margin-top: 561px;;
}