@import "Global.css";

#feedback{
    color:white;
}

.headings{
    margin-left: 70px;
    font-size:55px;
}

#contact_us_div
        {
            margin-top: 9vw;
            font-size:25px;
        }
        
                #form_name_div
                {
                    position: absolute;
                    left: 13%;
                }
                
                #form_e-mail_div
                {
                    margin-top: 5vw;
                    position: absolute;
                    left: 13%;
                }
                       
                #form_subject_div
                {
                    margin-top: 10vw;
                    position: absolute;
                    left: 13%;
                }
                
                #form_Message_div
                {
                    position: absolute;
                    left: 40%;
                }
                
                input
                {
                    margin-bottom: 2vw;
                    position: relative;
                    width: 310px;
                    height: 37px;
                    border: none;
                    background: rgba(217, 217, 217, 0.3);
                    border-radius: 10px;
                }
                
                #message_input
                {
                    
                    width: 800px;
                    height: 190px;
                    border: none;
                    background: rgba(217, 217, 217, 0.3);

                    border-radius: 10px;
                }

#send_button{
    position: absolute;
    width: 140px;
    height: 70px;
    background:#5ff926;
    margin-top: 24vw;
    left: 45.8%;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}

#send_button:hover{
    transition:ease-out 0.1s;
    margin-top:23.5vw;
    left:45.45%;
    width:150px;
    height:80px;
    color:white;
}
                

footer {
    background-color: #5ff926;
    color: #000000;
    text-align: center;
    padding: 10px;
    margin-top: 561px;;
}

