@import "Global.css";

#info{
    color:white;
}

#sidebar {
    width: 230px;
    height: 500hv;
    flex-shrink: 0;
    margin: 0;
    padding:20px;
    background-color:rgba(115, 255, 0, 0.518);
}

#sidebar li{
    margin-left:15px;
    text-decoration:none;
    color:black;
    font-size:medium;
    margin-bottom:40px;
}

#sidebar ol li{
    margin-bottom:15px;
    margin-left:0;
}

#sidebar a{
    color:#000000;
    text-decoration:none;
}

#sidebar a:hover{
    color:rgb(255, 255, 255);
}

section {
    flex: 1;
    padding: 20px;
    font-size:large;
    text-align:justify;
}

#section-ul li{
    margin-bottom:10px;
    margin-left:40px;
}

#info-img-1{
    display: flex;
    height:300px;
    border-radius:20px;
    float:right;
    margin:20px;
}

#info-img-1:hover{
    transition:ease-out 0.3s;
    height:310px;
    margin:12.5px;
}

#info-img-2{
    display: flex;
    height:290px;
    border-radius:20px;
    float:left;
    margin:20px;
}

#info-img-2:hover{
    transition:ease-out 0.3s;
    height:300px;
    margin:10.9px;
}

#info-img-3{
    display: flex;
    height:300px;
    border-radius:20px;
    float:right;
    margin:20px;
}

#info-img-3:hover{
    transition:ease-out 0.3s;
    height:310px;
    margin:12.4px;
}

#info-img-4{
    display: flex;
    height:290px;
    border-radius:20px;
    float:left;
    margin:20px;
}

#info-img-4:hover{
    transition:ease-out 0.3s;
    height:300px;
    margin:12px;
}

footer {
    background-color:#5ff926;
    color: #000000;
    text-align: center;
    padding: 10px;
}