@import "Global.css";

#homeimg1{
height:300px;
border-radius:20px;
float:right;
margin:15px;
}

section {
    flex: 1;
    padding: 20px;
    font-size:large;
    text-align:justify;
    height: 502px;
}

footer {
    background-color:#5ff926;
    color: #000000;
    text-align: center;
    padding: 10px;
}